@import "assets/styles/_buttons.scss";
@import "assets/styles/_nav.scss";
@import "assets/styles/_typography.scss";
@import "assets/styles/_variables.scss";
@import "assets/styles/Icons";

.Landing-page{
  text-align: center;
  color: $secondary-colors;
}

#Background-Image {
  background-image: url(Wales.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 710px;
  top: 20px;
  z-index: -5;
  padding-bottom: 150px;
}

#Landing__Profile{
  margin-top: 200px;
  height: 134px;
  width: auto;
}

#About-Me{
  background-color: $secondary-colors;
  color: $tertiary-colors;
  height: 288px;
  padding: 80px 25px 50px 25px;
}

#skills{
  background-color: $primary-colors;
  color: $secondary-colors;
  height: 285px;
  padding: 80px 25px 50px 25px;
}

#skillsInfo{
  padding-top: 50px;
  display: grid;
}

.Curly-Left {
  grid-column: 3/6;
  grid-row: 1/12;
  height: auto;
  width: 40px;
}
.Curly-Right {
  grid-column: 9/12;
  grid-row: 1/12;
  height: auto;
  width: 40px;
}

.skillsPara{
  grid-column: 8;
  grid-row: 6/9;
}

#Projects{
  background-color: $secondary-colors;
  color: $tertiary-colors;
  height: 620px;
  padding: 80px 20px 80px 20px;
}

#Project__Information{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 75px 0 0 30px;
}

.Project__Images{
  border-radius: 10px;
}

.Project__Text{
  padding-top: 10px;
}
  #Project-Image1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  
  #Project-Image2 {
    grid-column: 7/8;
    grid-row: 1/3;
  }
  #Project-Image3 {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  #Project-Image4 {
    grid-column: 7/9;
    grid-row: 5/7;
  }
  #Project-Image5 {
    grid-column: 1/2;
    grid-row: 9/11;
  }
  #Project-Image6 {
    grid-column: 7/9;
    grid-row: 9/11;
  }
  
  #Project-Text1 {
    grid-column: 2/6;
    grid-row: 1/3;
  }
  
  #Project-Text2 {
    grid-column: 8/12;
    grid-row: 1/3;
  }
  #Project-Text3 {
    grid-column: 2/6;
    grid-row: 5/7;
  }
  #Project-Text4 {
    grid-column: 8/12;
    grid-row: 5/7;
  }
  #Project-Text5 {
    grid-column: 2/6;
    grid-row: 9/11;
  }
  #Project-Text6 {
    grid-column: 8/12;
    grid-row: 9/11;
  }

#Footer{
  background-color: $primary-colors;
  color: $secondary-colors;
  height: auto;
  padding: 80px 30px 50px 30px;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

@media screen and (min-width: 550px) {
  
 input {
    width: 100%;
    margin-top: 0;
  }
  input[type=text], select, textarea {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  #Landing__Profile{
    margin-top: 200px;
    height: 220px;
    width: auto;
  }

  .Curly-Left {
    padding-left: 50px;
   }
   .Curly-Right {
     padding-right: 50px;
   }

  #Projects{
    height: 900px;
  }
   .Project__Images{
    border-radius: 10px;
    height: 125px;
  }
  

  input[type=text], select, textarea {
    margin-left: 20px;
  }
}
 
 @media screen and (min-width: 1024px) {
  #Landing__Profile{
    margin-top: 200px;
    height: 250px;
    width: auto;
  }
  #Background-Image {
    padding-bottom: 200px;
  }
  
#About-Me{
  padding: 100px 25px 100px 25px;
}
#skills{
  padding-top: 100px;
  padding-bottom: 120px;
}
.Curly-Left {
 padding-left: 100px;
}
.Curly-Right {
  padding-right: 100px;
}
#Projects{
  padding: 100px 0 140px;
}
#Project__Information{
  padding: 100px 0 0 100px;
}
#Footer{
  padding-top: 100px;
}
input[type=text], select, textarea {
  width: 60%;
  margin-left: 180px;
}
}
@media screen and (min-width: 1440px){
  #Background-Image {
    padding-bottom: 260px;
    height: 800px;
  }
  input[type=text], select, textarea {
    width: 45%;
    margin-left: 500px;
  }
}
