#Footer__Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.btn-primary {
  text-align: center;
  font-size: 14px;
  width: 120px;
  height: 50px;
  padding: 10px 15px;
  margin: 10px;
  border: 0.5px solid #3b474b;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit {
  background-color: #3b474b;
  color: #f4faff;
}

.btn-reset {
  background-color: #f4faff;
  color: #3b474b;
}

@media screen and (min-width: 1024px) {
  .btn-primary {
    font-size: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-primary {
    font-size: 19px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-primary {
    font-size: 19px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
  }
}
.navbar {
  background-color: #daeaf0;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #3b474b;
  line-height: 20px;
  justify-content: center;
  transition: 0.4s;
  z-index: 2;
}
.navbar > .Navbar__Links {
  display: none;
}

.smallNav {
  background-color: #daeaf0;
  height: 200px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #3b474b;
  transition: 0.4s;
  z-index: 2;
}
.smallNav > .Navbar__Links {
  display: block;
  padding: 2px;
}

.smallNav > #name {
  display: none;
  transition: 0.4s;
}

.navbar > #name {
  display: flex;
  transition: 0.4s;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 85%;
  top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .Navbar__Links .Navbar__Links {
  display: none;
}

#Navbar__Logo {
  height: 70px;
}

@media screen and (min-width: 426px) {
  .smallNav {
    background-color: #daeaf0;
    height: 150px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #3b474b;
    transition: 0.4s;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: none;
  }

  .navbar {
    background-color: #daeaf0;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3b474b;
    transition: 0.4s;
  }
  .navbar > .Navbar__Links {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    height: 170px;
  }
  .navbar > a > h2 {
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .navbar > h2 {
    font-size: 45px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1rem;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.5rem;
}

h2 {
  font-size: 24px;
  letter-spacing: 3px;
  color: black;
}

p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  color: white;
  text-shadow: 0 0 3px black;
}

a {
  text-decoration: none;
  color: #3b474b;
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: 40px;
    line-height: 2rem;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 2rem;
  }

  h2 {
    font-size: 23px;
  }

  p {
    font-size: 19px;
  }
}
@media screen and (min-width: 1024px) {
  h1,
  h2,
  p {
    padding: 10px 50px 10px 50px;
  }

  h1 {
    font-size: 45px;
    line-height: 2.3rem;
  }

  h2 {
    font-size: 25px;
    line-height: 2.3rem;
  }

  p {
    font-size: 23px;
    margin: 0 50px 0;
    padding: 20px 0 30px 0;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  h1,
  h2,
  p {
    padding: 10px 80px 10px 80px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 40px;
    padding: 20px 180px 30px 180px;
    line-height: 1.7rem;
  }
}
@media screen and (min-width: 1920px) {
  p {
    padding: 20px 300px 10px 300px;
  }
}
#skills__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 60px);
  gap: 6px;
  justify-items: center;
  align-items: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 0 35px 0;
}

.fab {
  font-size: 2em;
}

.fa-react {
  color: #61dbfb;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  background-color: black;
  color: #f0db4f;
}

.fa-java {
  color: #5382a1;
}

.fa-html5 {
  color: #f06529;
}

.Footer__Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer__gitHub {
  color: #171515;
  padding: 0 20px 0 20px;
}

.footer__linkedin {
  color: #0072b1;
  padding: 0 20px 0 20px;
}

.footer__twitter {
  color: #08a0e9;
  padding: 0 20px 0 20px;
}

.fab:hover {
  color: #3b474b;
}

@media screen and (min-width: 425px) {
  #skills__icons {
    grid-template-rows: repeat(3, 80px);
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  #skills__icons {
    grid-template-rows: repeat(3, 100px);
    gap: 35px;
    padding: 0 70px 0;
  }
}
@media screen and (min-width: 1024px) {
  #skills__icons {
    gap: 100px;
    padding: 0 150px 0;
  }

  .fab {
    margin-top: 20px;
    font-size: 4em;
  }
}
@media screen and (min-width: 1440px) {
  #skills__icons {
    gap: 200px;
  }

  .fab {
    margin-top: 100px;
    font-size: 4.5em;
  }
}
#About-Me {
  background: url(wave-haikei.svg);
  z-index: -1;
  color: #e9eff4;
  height: 720px;
  background-size: cover;
  padding: 40px 40px 0;
}
#About-Me > h2,
#About-Me p {
  color: #f4faff;
  text-shadow: black 0px 0px 3px;
}

@media screen and (min-width: 768px) {
  #About-Me {
    height: 500px;
    padding: 120px 25px 50px 25px;
  }
}
@media screen and (min-width: 1024px) {
  #About-Me {
    padding: 200px 25px 120px 25px;
    height: 800px;
  }
}
@media screen and (min-width: 1440px) {
  #About-Me {
    padding: 300px 25px 120px 25px;
    height: 1000px;
  }
}
.Landing-page {
  text-align: center;
  color: #3b474b;
}

#Background-Image {
  background-image: url(Wales.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 710px;
  top: 20px;
  z-index: -5;
  padding-bottom: 150px;
}

#Landing__Profile {
  margin-top: 200px;
  height: 134px;
  width: auto;
}

@media screen and (min-width: 768px) {
  #Background-Image {
    height: 760px;
  }

  #Landing__Profile {
    margin-top: 200px;
    height: 220px;
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  #Landing__Profile {
    margin-top: 200px;
    height: 250px;
    width: auto;
  }

  #Background-Image {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1440px) {
  #Background-Image {
    padding-bottom: 260px;
    height: 800px;
  }
}
#Footer {
  background: url(blob-haikei.svg);
  color: #e9eff4;
  height: 365px;
  background-size: cover;
  background-color: #daeaf0;
  color: #3b474b;
  padding: 0 30px 50px 30px;
  background-position: center;
}
#Footer > h2,
#Footer p {
  color: #f4faff;
  text-shadow: black 0px 0px 3px;
}

@media screen and (min-width: 1024px) {
  #Footer {
    padding-top: 250px;
    height: 900px;
  }
}
@media screen and (min-width: 1440px) {
  #Footer > p {
    margin-bottom: 5px;
  }

  .Footer__Text {
    font-size: 1rem;
    padding-top: 5px;
  }
}
#Projects {
  background: url(wave-haikei-up.svg);
  color: #e9eff4;
  background-size: cover;
  color: #f4faff;
  height: auto;
  padding: 620px 20px 80px 20px;
  z-index: -1;
}
#Projects > h2 {
  color: #f4faff;
}

#Project__Information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  position: relative;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 15px;
  z-index: 1;
}
.project > img {
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  object-position: center;
}
.project > .content {
  color: #3b474b;
  inset: 0;
  font-size: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 3px white;
}
.project > .content > a {
  font-size: 1rem;
}
.project > h1 {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project:hover > img.gif-images {
  filter: blur(10px);
}

.project > .content.fade {
  opacity: 0;
}

.project:hover > .content.fade {
  opacity: 1;
}

.project > img,
.project > .content {
  transition: 200ms ease-in-out;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.Project__Text {
  padding: 15px 25px 15px 25px;
}

@media screen and (min-width: 768px) {
  #Project__Information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
}
#skills {
  background-color: #daeaf0;
  height: 0px;
}

.skillsParagraph {
  color: black;
  text-shadow: 0 0 3px white;
}

#skillsInfo {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 425px) {
  #skills {
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  #skills {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  #skills {
    height: 520px;
  }
}
@media screen and (min-width: 1440px) {
  #skills {
    height: 580px;
  }
}
