#Footer__Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.btn-primary {
  text-align: center;
  font-size: 13px;
  width: 120px;
  height: 50px;
  padding: 10px 15px;
  margin: 10px;
  border: 0.5px solid #3B474B;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit {
  background-color: #3B474B;
  color: #E9EFF4;
}

.btn-reset {
  background-color: #E9EFF4;
  color: #3B474B;
}

@media screen and (min-width: 1024px) {
  .btn-primary {
    font-size: 23px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-primary {
    font-size: 19px;
    width: 150px;
    height: 70px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-primary {
    font-size: 19px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
  }
}
.navbar {
  background-color: #daeaf0;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #3b474b;
  line-height: 20px;
  justify-content: center;
  transition: 0.4s;
}
.navbar > .Navbar__Links {
  display: none;
}

.smallNav {
  background-color: #daeaf0;
  height: 200px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #3b474b;
  transition: 0.4s;
}
.smallNav > .Navbar__Links {
  display: block;
  padding: 2px;
}

.smallNav > #name {
  display: none;
  transition: 0.4s;
}

.navbar > #name {
  display: flex;
  transition: 0.4s;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 85%;
  top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .Navbar__Links .Navbar__Links {
  display: none;
}

#Navbar__Logo {
  height: 70px;
}

@media screen and (min-width: 426px) {
  .smallNav {
    background-color: #daeaf0;
    height: 150px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #3b474b;
    transition: 0.4s;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: none;
  }

  .navbar {
    background-color: #daeaf0;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3b474b;
    transition: 0.4s;
  }
  .navbar > .Navbar__Links {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    height: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1rem;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5rem;
}

h2 {
  font-size: 20px;
  font-weight: 800;
}

p {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #3B474B;
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: 40px;
    line-height: 2rem;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 2rem;
  }

  h2 {
    font-size: 23px;
  }

  p {
    font-size: 19px;
  }
}
@media screen and (min-width: 1024px) {
  h1,
h2,
p {
    padding: 10px 50px 10px 50px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 23px;
    margin: 0 50px 0;
    padding: 20px 0 30px 0;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  h1,
h2,
p {
    padding: 10px 80px 10px 80px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 29px;
    padding: 20px 180px 30px 180px;
    line-height: 1.7rem;
  }
}
@media screen and (min-width: 1920px) {
  p {
    padding: 20px 300px 10px 300px;
  }
}
#skills__icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}

.fab {
  font-size: 2em;
}

.fa-react {
  color: #61dbfb;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  background-color: black;
  color: #f0db4f;
}

.fa-java {
  color: #5382a1;
}

.fa-html5 {
  color: #f06529;
}

.Footer__Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer__gitHub {
  color: #171515;
  padding: 0 20px 0 20px;
}

.footer__linkedin {
  color: #0072b1;
  padding: 0 20px 0 20px;
}

.footer__twitter {
  color: #08a0e9;
  padding: 0 20px 0 20px;
}

.fab:hover {
  color: #3B474B;
}

@media screen and (min-width: 1024px) {
  #skills__icons {
    gap: 100px;
  }

  .fab {
    margin-top: 20px;
    font-size: 4em;
  }
}
@media screen and (min-width: 1440px) {
  #skills__icons {
    gap: 200px;
  }

  .fab {
    margin-top: 100px;
    font-size: 4.5em;
  }
}
#About-Me {
  background-color: #3B474B;
  color: #E9EFF4;
  height: 288px;
  padding: 80px 25px 50px 25px;
}

@media screen and (min-width: 768px) {
  #About-Me {
    height: 350px;
    padding: 120px 25px 50px 25px;
  }
}
@media screen and (min-width: 1024px) {
  #About-Me {
    padding: 200px 25px 120px 25px;
    height: 550px;
  }
}
@media screen and (min-width: 1440px) {
  #About-Me {
    padding: 250px 25px 120px 25px;
    height: 650px;
  }
}
.Landing-page {
  text-align: center;
  color: #3B474B;
}

#Background-Image {
  background-image: url(Wales.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 710px;
  top: 20px;
  z-index: -5;
  padding-bottom: 150px;
}

#Landing__Profile {
  margin-top: 200px;
  height: 134px;
  width: auto;
}

@media screen and (min-width: 768px) {
  #Background-Image {
    height: 760px;
  }

  #Landing__Profile {
    margin-top: 200px;
    height: 220px;
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  #Landing__Profile {
    margin-top: 200px;
    height: 250px;
    width: auto;
  }

  #Background-Image {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1440px) {
  #Background-Image {
    padding-bottom: 260px;
    height: 800px;
  }
}
#Footer {
  background-color: #DAEAF0;
  color: #3B474B;
  height: auto;
  padding: 80px 30px 50px 30px;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

@media screen and (min-width: 550px) {
  input {
    width: 100%;
    margin-top: 0;
  }

  input[type=text], select, textarea {
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  input[type=text], select, textarea {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  #Footer {
    padding-top: 100px;
  }

  input[type=text], select, textarea {
    width: 60%;
    margin-left: 180px;
  }
}
@media screen and (min-width: 1440px) {
  input[type=text], select, textarea {
    width: 35%;
    margin-left: 430px;
  }

  #Footer > p {
    margin-bottom: 5px;
  }

  .Footer__Text {
    font-size: 1rem;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1920px) {
  input[type=text], select, textarea {
    margin-left: 570px;
  }
}
#Projects {
  background-color: #3B474B;
  color: #E9EFF4;
  height: 620px;
  padding: 10px 20px 80px 20px;
}

#Project__Information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 250px;
}

.gif-images {
  border: 2px solid #DAEAF0;
  border-radius: 10px;
  width: 150px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.gif-images:hover {
  transform: scale(1.2);
}

.Project__Text {
  padding: 15px 25px 15px 25px;
}

@media screen and (min-width: 768px) {
  #Projects {
    height: 950px;
    padding-top: 80px;
  }

  .Project__Images {
    border-radius: 10px;
    height: 125px;
  }

  .Project__Text {
    padding: 20px 25px 20px 25px;
  }

  .projects {
    display: flex;
    width: 450px;
  }

  #game-gif {
    width: 275px;
    height: auto;
  }

  #calculator-gif {
    width: 275px;
    height: auto;
  }

  #Morse-code-gif {
    width: 275px;
    height: auto;
  }

  #Beers-API-gif {
    width: 275px;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .Project__Images {
    height: 115px;
  }

  .Project__Text {
    padding: 10px 0px 10px 5px;
  }

  .Project__Images {
    margin-left: 50px;
  }

  .projects {
    display: flex;
    width: 700px;
  }
}
#skills {
  background-color: #DAEAF0;
  color: #3B474B;
  height: 285px;
  padding: 80px 15px 50px 15px;
}

#skillsInfo {
  padding-top: 50px;
  display: grid;
}

.Curly-Left {
  grid-column: 3/6;
  grid-row: 1/12;
  height: auto;
  width: 40px;
}

.Curly-Right {
  grid-column: 9/12;
  grid-row: 1/12;
  height: auto;
  width: 40px;
}

.skillsParagraph {
  grid-column: 8;
  grid-row: 6/9;
}

@media screen and (min-width: 768px) {
  #skills {
    height: 350px;
  }

  .Curly-Left {
    padding-left: 40px;
  }

  .Curly-Right {
    padding-right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  #skills {
    height: 520px;
    padding-top: 170px;
    padding-bottom: 120px;
  }

  .Curly-Left {
    padding-left: 90px;
    width: 60px;
  }

  .Curly-Right {
    padding-right: 90px;
    width: 60px;
  }
}
@media screen and (min-width: 1440px) {
  #skills {
    height: 580px;
    padding-top: 200px;
    padding-bottom: 190px;
  }

  .Curly-Left {
    width: 80px;
  }

  .Curly-Right {
    width: 80px;
  }
}