#About-Me{
  background-color: $secondary-colors;
  color: $tertiary-colors;
  height: 288px;
  padding: 80px 25px 50px 25px;
}

@media screen and (min-width: 768px) {
  #About-Me{
    height: 350px;
    
  padding: 120px 25px 50px 25px;
  }
}

@media screen and (min-width: 1024px) {
#About-Me{
  padding: 200px 25px 120px 25px;
  height: 550px;
}
}

@media screen and (min-width: 1440px) {
  #About-Me{
    padding: 250px 25px 120px 25px;
    height: 650px;
  }
  }
