#About-Me {
  background: url(wave-haikei.svg);
  z-index: -1;
  color: #e9eff4;
  height: 720px;
  background-size: cover;
  padding: 40px 40px 0;
  > h2,
  p {
    color: $tertiary-colors;
    text-shadow: black 0px 0px 3px;
  }
}

@media screen and (min-width: 768px) {
  #About-Me {
    height: 500px;

    padding: 120px 25px 50px 25px;
  }
}

@media screen and (min-width: 1024px) {
  #About-Me {
    padding: 200px 25px 120px 25px;
    height: 800px;
  }
}

@media screen and (min-width: 1440px) {
  #About-Me {
    padding: 250px 25px 120px 25px;
    height: 1000px;
  }
}
