#Footer {
  background-color: $primary-colors;
  color: $secondary-colors;
  height: auto;
  padding: 110px 30px 50px 30px;
}

@media screen and (min-width: 1024px) {
  #Footer {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  #Footer > p {
    margin-bottom: 5px;
  }
  .Footer__Text {
    font-size: 1rem;
    padding-top: 5px;
  }
}
