#Footer{
  background-color: $primary-colors;
  color: $secondary-colors;
  height: auto;
  padding: 80px 30px 50px 30px;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

@media screen and (min-width: 550px) {
  
  input {
     width: 100%;
     margin-top: 0;
   }
   input[type=text], select, textarea {
     margin-left: 10px;
   }
 }
 
 @media screen and (min-width: 768px) {
  input[type=text], select, textarea {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1024px) {
#Footer{
  padding-top: 100px;
}
input[type=text], select, textarea {
  width: 60%;
  margin-left: 180px;
}
}

@media screen and (min-width: 1440px){
  input[type=text], select, textarea {
    width: 45%;
    margin-left: 370px;
  }
}

@media screen and (min-width: 1920px){
  input[type=text], select, textarea {
    width: 40%;
    margin-left: 530px;
  }
}

 