#Projects{
  background-color: $secondary-colors;
  color: $tertiary-colors;
  height: 620px;
  padding: 80px 20px 80px 20px;
}

#Project__Information{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 250px;
}
.gif-images{
  border: 2px solid $primary-colors;
  border-radius: 10px;
  width: 150px;
  height: auto;
  transition: all .2s ease-in-out;
}
.gif-images:hover { 
  transform: scale(1.5); 
}

.project-info{
  margin-top: 5px;
  border: 1px solid $primary-colors;
  border-radius: 10px;
  background-color: $secondary-colors;
}

  @media screen and (min-width: 768px) {
     #Projects{
      height: 900px;
      padding-top: 100px;
    }
     .Project__Images{
      border-radius: 10px;
      height: 125px;
    }
    .Project__Text{
      padding: 20px 25px 0 25px;
    }
    .projects{
      display: flex;
      flex-direction: row;
      padding: 25px;
      width: 450px;
    }
    #game-gif{
      width: 275px;
      height: auto;
    }
    
    #calculator-gif{
      width: 275px;
      height: auto;
    }
}
   
@media screen and (min-width: 1024px) {

.Project__Images{
  height: 115px;
}
.Project__Text{
  padding: 10px 0px 0 5px;
}
.Project__Images{
  margin-left: 50px;
}
.projects{
  display: flex;
  flex-direction: row;
  padding: 25px;
  width: 700px;
}

}