#Projects {
  background: url(wave-haikei-up.svg);
  color: #e9eff4;
  background-size: cover;
  color: $tertiary-colors;
  height: auto;
  padding: 700px 20px 80px 20px;
  z-index: -1;
  > h2 {
    color: $tertiary-colors;
  }
}

#Project__Information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  position: relative;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 15px;
  z-index: 1;
  > img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    object-position: center;
  }
  > .content {
    color: $secondary-colors;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px white;

    > a {
      font-size: 1rem;
    }
  }
  > h1 {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.project:hover > img.gif-images {
  filter: blur(10px);
}
.project > .content.fade {
  opacity: 0;
}

.project:hover > .content.fade {
  opacity: 1;
}

.project > img,
.project > .content {
  transition: 200ms ease-in-out;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  // width: 250px;
}
// .gif-images {
//   border: 2px solid $primary-colors;
//   border-radius: 10px;
//   width: 150px;
//   height: auto;
//   // transition: all 0.2s ease-in-out;
// }
// .gif-images:hover {
//   transform: scale(1.2);
// }

.Project__Text {
  padding: 15px 25px 15px 25px;
}

@media screen and (min-width: 768px) {
  #Project__Information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
}

// @media screen and (min-width: 1024px) {
//   .Project__Images {
//     height: 115px;
//   }
//   .Project__Text {
//     padding: 10px 0px 10px 5px;
//   }
//   .Project__Images {
//     margin-left: 50px;
//   }
//   .projects {
//     display: flex;
//     width: 700px;
//   }
// }
