#skills {
  background-color: $primary-colors;
  height: 0px;
}

.skillsParagraph {
  color: black;
  text-shadow: 0 0 3px white;
}

#skillsInfo {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// .Curly-Left {
//   // grid-column: 3/6;
//   // grid-row: 1/12;
//   height: auto;
//   width: 65px;
// }
// .Curly-Right {
//   // grid-column: 9/12;
//   // grid-row: 1/12;
//   height: auto;
//   width: 65px;
// }

// .skillsParagraph {
//   // grid-column: 8;
//   // grid-row: 6/9;
@media screen and (min-width: 425px) {
  #skills {
    height: 350px;
  }

  // .Curly-Left {
  //   width: 80px;
  // }
  // .Curly-Right {
  //   width: 80px;
  // }
}

@media screen and (min-width: 768px) {
  #skills {
    height: 350px;
  }

  // .Curly-Left {
  //   width: 100px;
  // }
  // .Curly-Right {
  //   width: 100px;
  // }
}

@media screen and (min-width: 1024px) {
  #skills {
    height: 520px;
    // padding-bottom: 120px;
  }
  //   .Curly-Left {
  //     width: 200px;
  //   }
  //   .Curly-Right {
  //     width: 200px;
  //   }
}

@media screen and (min-width: 1440px) {
  #skills {
    height: 580px;
    // padding-bottom: 550px;
  }
  // .Curly-Left {
  //   width: 250px;
  // }
  // .Curly-Right {
  //   width: 250px;
  // }
}
