#skills{
  background-color: $primary-colors;
  color: $secondary-colors;
  height: 285px;
  padding: 80px 15px 50px 15px;
}

#skillsInfo{
  padding-top: 50px;
  display: grid;
}

.Curly-Left {
  grid-column: 3/6;
  grid-row: 1/12;
  height: auto;
  width: 40px;
}
.Curly-Right {
  grid-column: 9/12;
  grid-row: 1/12;
  height: auto;
  width: 40px;
}

.skillsParagraph{
  grid-column: 8;
  grid-row: 6/9;
}

@media screen and (min-width: 768px) {
  #skills{
    height: 350px;
  }
  
  .Curly-Left {
    padding-left: 40px;
   }
  .Curly-Right {
     padding-right: 40px;
   }
}


@media screen and (min-width: 1024px) {
#skills{
  height: 520px;
  padding-top: 170px;
  padding-bottom: 120px;
}
.Curly-Left {
 padding-left: 90px;
 width: 60px;
}
.Curly-Right {
  padding-right: 90px;
  width: 60px;
}
}


@media screen and (min-width: 1440px) {
  #skills{
    height: 580px;
    padding-top: 200px;
    padding-bottom: 190px;
  }
  .Curly-Left {
   width: 80px;
  }
  .Curly-Right {
    width: 80px;
  }
  }