@import "_variables";

.navbar {
  background-color: #0066ff;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #3b474b;
  line-height: 20px;
  justify-content: center;
  transition: 0.4s;
  z-index: 2;
  > .Navbar__Links {
    display: none;
  }
}

.smallNav {
  background-color: #0066ff;
  height: 200px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #3b474b;
  transition: 0.4s;
  z-index: 2;
  > .Navbar__Links {
    display: block;
    padding: 2px;
  }
}

.smallNav > #name {
  display: none;
  transition: 0.4s;
}
.navbar > #name {
  display: flex;
  transition: 0.4s;
}

.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 85%;
  top: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #002233;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.change .Navbar__Links {
  .Navbar__Links {
    display: none;
  }
}

#Navbar__Logo {
  height: 70px;
}

@media screen and (min-width: 376px) {
}

@media screen and (min-width: 426px) {
  .smallNav {
    height: 150px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #3b474b;
    transition: 0.4s;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3b474b;
    transition: 0.4s;
  }
  // .smallNav {
  //   flex-direction: row;
  // }

  .container {
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 49px;
    height: 7px;
    background-color: #002233;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -10px);
    transform: rotate(45deg) translate(-8px, -10px);
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px);
    transform: rotate(-45deg) translate(-9px, 8px);
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: 150px;

    > a > h2 {
      padding: 0;
    }
  }
  .smallNav {
    height: 200px;
    justify-content: center;

    flex-direction: row;
  }

  .container {
    left: 92%;
    top: 50px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 63px;
    height: 9px;
    background-color: #002233;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -12px);
    transform: rotate(45deg) translate(-8px, -12px);
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 10px);
    transform: rotate(-45deg) translate(-9px, 10px);
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    > a > h2 {
      font-size: 35px;
    }
  }
  .smallNav {
    > a > h2 {
      font-size: 35px;
    }
  }
}
@media screen and (min-width: 2550px) {
  .navbar {
    > a > h2 {
      font-size: 55px;
    }
  }
  .smallNav {
    > a > h2 {
      font-size: 55px;
    }
  }
}
